body {
    background: repeating-linear-gradient(hotpink,magenta,hotpink);
    text-align: center;
    font-size: 32px;
}
table, th {
    font-size: 32px;
    text-align: left;
    margin-left: auto;
    font-family: Arial;
    border: 2px solid black;
    margin: 30px;
}
td {
    font-size: 24px;
    text-decoration: none;
    border: 2px solid black;
    font-weight: 400;
    margin: 20px;
}